@import url('https://fonts.googleapis.com/css?family=Oswald:500');


.navLinks
{
    display: grid;
    grid-template-columns: repeat(5, 0.75fr);
    padding-right: 20px;
    padding-top: 15px;
    float: right;
}

.linkText
{
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
}

.navBar
{
    height: 7vh;
    width: 100%;
    background: #9B9B9B;

}

.logo
{
    height: 90%;
    width: 50px;
    float: left;
    padding-left: 10px;
}